.toggle-list {
  display: flex;
  justify-content: center;
}

.toggle-list .btn + .btn {
  margin-left: 10px;
}

.btn-with-icon {
  display: flex;
  margin: 0;
}

.btn-with-icon > span {
  margin: auto;
}

.profile-card {
  margin-bottom: 20px;
}

.doughnut-list {
  margin-top: 40px;
}

.chartjs-render-monitor + .chartjs-render-monitor {
  margin-top: 20px;
}

.control-list {
  margin-top: 40px;
}
