.table-loader {
  position: relative;
}

.table-loader:before,
.table-loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #0079c1;
  animation: tableLoader 1s cubic-bezier(0, 0.84, 1, 0.93) infinite;
  opacity: 0;
}

.table-loader:after {
  animation-delay: 0.25s;
}

@keyframes tableLoader {
  0%,
  100% {
    opacity: 0;
  }

  0% {
    transform: translateX(-100px);
  }

  50% {
    opacity: 1;
  }

  100% {
    transfrom: translateX(100px);
  }
}
