.chart-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.chart-filter-list-container {
  height: 228px;
  margin: 20px 0;
}

.chart-filter-item {
  margin: 0;
}

.chart-filter-item--inactive .chart-filter-size {
  opacity: 0.2;
}

.chart-filter-item .chart-filter-btn {
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 0.75rem;
  color: #4c4c4c;
  border-color: transparent;
  padding: 0 10px 0 50px;
  height: 38px;
  line-height: 38px;
}

.chart-filter-item .chart-filter-btn,
.chart-filter-btn:hover,
.chart-filter-btn:focus,
.chart-filter-btn:active {
  background: transparent;
  outline: none;
}

.chart-filter-item .chart-filter-btn:hover {
  color: #c3c3c3;
}

.chart-filter-btn:hover,
.chart-filter-btn:focus,
.chart-filter-btn:active {
  border-color: #d2d2d2;
}

.chart-filter-btn:focus,
.chart-filter-btn:active {
  color: #4c4c4c;
}

.chart-filter-name {
  flex: 1;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chart-filter-size {
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 0.65rem;
  width: 30px;
  text-align: center;
  color: #fff;
}
