$image-path: './img' !default;
$font-path: './fonts' !default;
$default-column-count: 12;
@import 'node_modules/calcite-web/dist/sass/calcite-web';

$green: #5a9359;
$red: #de2900;
$blue: #0079c1;

@mixin btn-clear-color($color) {
  border-color: $color;
  color: $color;

  &:hover,
  &:focus,
  &:active {
    &:not([disabled]) {
      color: #fff;
      background: $color;
    }
  }
}

html {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.app-logo {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.app-body {
  min-height: calc(100vh - 48px);
  padding-top: 40px;
}

.app-container {
  display: flex;
  flex-grow: 1;
  padding: 0 40px;
  margin: 0 -15px;
}

.app-left {
  width: 220px;
}

.app-right {
  width: 150px;
}

.app-center {
  flex: 1;
  margin: 0 40px;
}

.btn {
  padding: 0 10px;
  height: 38px;
  line-height: 38px;

  &-clear {
    &,
    &.btn-green,
    &.btn-red {
      background: transparent;
    }

    &.btn-green {
      @include btn-clear-color($green);
    }

    &.btn-red {
      @include btn-clear-color($red);
    }
  }

  &-red {
    background: $red;
    color: $white;
  }
}
